<div class="dividi">
    <hr />
    <h1>The Server Component</h1>
    <button (click)="stampaIlValoreEsterno()">STAMPAAAAAA</button>
    <input type="text" [(ngModel)]="inputTextValue"  (input)="stampa($event)"/>
    <br />
    
    <button class="btn btn-primary" [disabled]="checkIfTheUserAreEmpty()" (click)="buttonClicked($event)" >
        {{buttonText}}
    </button>
    <button  class="btn btn-primary" (click)="renderArrayfunc($event)">Render array</button>
    <div [ngClass]="{divName}" *ngIf="render">
        <p>{{ able }}</p>
        <p>{{ name }}</p> 
    </div> 
    <div *ngIf="renderArray">
        <ul  *ngFor="let i of myArray">
        <li >{{i}}</li>
    </ul>
</div>
    <hr />
</div>