<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label goodDirective for="name">Name</label>
                    <input type="text" id="name" class="form-control" placeholder="Insert name of food here!" #nameRef>

                </div>
                <div class="col-sm-2 form-group">
                    <label goodDirective for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control" value="0" #amountRef>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" id="divSettingButton">
                    <button class="btn btn-success" type="button" (click)="addElementOnShoppingList()">Add</button>
                    <button class="btn btn-danger" type="button" (click)="removeElementOnShoppingList(nameRef, amountRef)">Delete</button>
                    <button class="btn btn-primary" type="button" (click) = "resetProperty()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
<ng-content></ng-content>