<ng-content></ng-content> 
<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit [ingredientsArrInput]="ingredientsArr"></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a goodDirective [colorSettingOfUser]="'yellow'" [defaultColor]="'black'" class="list-group-item" style="cursor: pointer" *ngFor="let ingredient of ingredientsArr" (click)="passTheIngredients(ingredient)"> {{ingredient.name}} ({{ingredient.amount}})</a>
        </ul>
    </div>
</div>


