<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success"  (click)="showInputFormMethod()">
            {{buttonRecipe}}
        </button>
        <button class="btn btn-success"  *ngIf="showInputForm" [disabled]="checkIfModelAreEmpty()" (click)="addAtReipes()">
            Add Recipe
        </button>
    </div>
</div>
<hr>
<div class="col-xs-20" *ngIf="showInputForm"><br>
    <input type="text" [(ngModel)]="nameOfRecipe" placeholder="Inserisci il nome della ricetta qui" /><br><br>
    <input type="text" [(ngModel)]="descriptionOfRecipe" placeholder="Inserisci la descrizione della ricetta qui" /><br><br>
    <input type="text" [(ngModel)]="imageOfRecipe" placeholder="Inserisci l'immagine della ricetta qui" />
</div>

<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
                <p class="list-group-item-text">{{ recipe.description }}</p>
            </div>
            <span>
                <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px" />
            </span>
        </a>
    </div>
</div>

<app-recipes-item></app-recipes-item>
