<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success"  (click)="showInputFormMethod()">
            {{buttonRecipe}}
        </button>
        <button class="btn btn-success"  *ngIf="showInputForm" [disabled]="checkIfModelAreEmpty()" (click)="addAtReipes()">
            Add Recipe
        </button>
    </div>
</div>
<hr>
<div class="col-xs-20" *ngIf="showInputForm"><br>
    <input type="text" [(ngModel)]="nameOfRecipe" placeholder="Inserisci il nome della ricetta qui" /><br><br>
    <input type="text" [(ngModel)]="descriptionOfRecipe" placeholder="Inserisci la descrizione della ricetta qui" /><br><br>
    <input type="text" [(ngModel)]="imageOfRecipe" placeholder="Inserisci l'immagine della ricetta qui" />
</div>

<div class="row">
    <div class="col-xs-12">
        <app-recipes-item *ngFor="let recipeEl of recipes;" [recipe]="recipeEl"
      ></app-recipes-item>
    </div>
</div>

